
 <!-- EJERCICIO 2  -->
    <div id="page">

        <section>
            <div class="grid">
                <!--POKEMON-->
                @for(pokemon of pokemons; track pokemon){
                    <app-pokemon [pokemon] = pokemon ></app-pokemon>
                }
            </div>

            <!--PHOTO-->
                
                    <app-photo 
                            [sprite1]="sprite1" 
                            [sprite2]="sprite2"
                            [sprite3]="sprite3" 
                            [sprite4]="sprite4">
                    </app-photo>
            

        </section>
    </div>
