
<!--PHOTO-->
<div class="container-view-three">
    <div class="photos-view-three">
        <div [ngStyle]="{'display': imgsVisible}">
            <img (click)="onClickImg( 1)" src={{sprite1}}
                style="width: 24%;">
            <img (click)="onClickImg( 2)" src={{sprite2}}
                style="width: 24%;">
            <img (click)="onClickImg( 3)" src={{sprite3}}
                style="width: 24%;">
            <img (click)="onClickImg( 4)" src={{sprite4}}
                style="width: 24%;">
        </div>
        <div [style.display]="viewBigPhoto">
            <img (click)="onClickImgOff()" src={{imgSprite}}
                style="width: 100%;">
            <h1>Texto</h1>
        </div>
    </div>
</div>
